.footer {
    background-color: rgb(17, 51, 85);
    padding: 100px 30px 40px;
    margin-top: 80px;

    &__wrapper {
        max-width: 1300px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__subs-link {
        display: block;
        opacity: 0.8;
        transition: 0.3s ease-out;

        &:hover {
            opacity: 1;
        }
    }
    &__logo {
        display: flex;
        transition: 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
    &__logo-icon {
        width: 104px;
        height: 43px;
    }

    &__right {
        display: flex;
        padding-left: 3vw;
    }
    &__list {
        padding-left: 3vw;
        list-style: none;

        &:first-child {
            padding-left: 0;
        }
    }
    &__list-inner {
        padding: 0;
    }
    &__subs {
        display: flex;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 20px;
        width: 100%;
    }
    &__subs-item {
        list-style: none;
        margin-right: 1vw;

        &:last-child {
            margin-right: 0;
        }
    }
    &__list-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #B1BDCD;
        margin-top: 10px;
        transition: 0.2s ease-in-out;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            background-color: #3692fe;
            height: 2px;
            transition: .1s ease-in-out;
        }

        &:hover {
            color: white;

            &::before {
                width: 100%;
            }
        }
    }
    &__subs-icon {
        width: 32px;
        height: 32px;
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: #F5F9FB;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }
    &__button {
        width: 140px;
        height: 47px;
    }
    &__button-link {
        margin-right: 1vw;
        border: 2px solid #b7c1cb;
        border-radius: 9px;
        display: flex;
        transition: 0.3s ease-out;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            filter: brightness(1.4);
            border: 2px solid #fff;
        }
    }
    &__link {
        font-style: inherit;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: .05em;
        color: #F5F9FB;
        margin-top: 20px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            background-color: #3692fe;
            height: 2px;
            transition: .1s ease-in-out;
        }

        &:hover {
            color: white;

            &::before {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__right {
            padding-left: 0;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
        }
        &__subs, &__buttons {
            width: auto;
        }
        &__list {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .footer {
        &__right {
            flex-wrap: wrap;
        }
        &__list {
            padding-left: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            margin-bottom: 5px;
            margin-top: 0;
            border-top: 1px solid #637B94;

            &.active {
                .footer {
                    &__plus {
                        &::after {
                            transform: rotate(0);
                        }
                    }
                    &__list-inner {
                        max-height: 500px;
                    }
                }
            }
        }
        &__title {
            width: 100%;
            display: flex;
        }
        &__plus {
            width: 20px;
            height: 20px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::after, &::before {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: #fff;
                transition: 0.2s ease-in-out;
            }
            &::after {
                transform: rotate(90deg);
            }
        }
        &__list-inner {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            max-height: 0;
            transition: 0.3s ease-in-out;
        }
        &__list-item {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 431px) {
    .footer {
        padding: 40px 15px;

        &__buttons, &__subs {
            width: 100%;
        }
    }
}